.app__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vw;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

.input__postnumber {
  width: 20%;

}

.btn__add-note {
  border-color: lightblue;
  border-radius: 2rem;
  padding: 10px;
  width: 100px;
  height: 40px;;
}

.new-note__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  background-color: #282c34;
}