.app__container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.input__postnumber {
  width: 10%;
}

.btn__add-note {
  border-color: lightblue;
  border-radius: 2rem;
  padding: 10px;
  width: 100px;
  height: 40px;;
}

.new-note__container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 4rem;
}